* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background-image: url(./1553591642_kim-cuong-co-dien-1.png);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.homePage a {
  text-decoration: none;
}
#game {
  background-color: blue;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#timeOut {
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 15px 13px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: auto;
  font-size: x-large;
  text-align: center;
}
#choose {
  display: none;
}
#choose.afterChoose {
  display: block;
}
.listItem {
  width: calc(100% / 4 - 10px);
  height: calc(100% / 4 - 10px);
  display: flex;
  position: relative;
  box-shadow: 0px 0px 15px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  perspective: 800px;

  transform-style: preserve-3d;
}
.listItem img {
  width: 100%;
  padding: 15px;
}
.flip {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
  position: absolute;
  transition: transform 0.35s linear;
  backface-visibility: hidden;
}
.front-view {
  transform: rotateY(-180deg);
}
.back-view {
  padding: 15px;
}

.listItem.flipElm .back-view {
  transform: rotateY(180deg);
}
.listItem.flipElm .front-view {
  transform: rotateY(0);
}
.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(6px);
  }
}
